.colrs{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    transition: 0.5s;
}

.clr:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.cpicker{
    margin-top: 5px;
    margin-left: 7px;
    width: 30px;
    height: 30px;
}