.member{
    width:186px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.members{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}