.mainchat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.inp{
    width:380px;
    height: 35px;
    border-radius: 2.5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
}