/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/Room/Room.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/

.Room_main__q_hMQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative; 
}

.Room_roomBtns__TNNpL{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 55px;
}
.Room_overlay__LHEio {
  display: "${(props) => (props.show ? 'block' : 'none')}";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
  z-index: 1; 
}

.Room_enterCodeContainer__8ovEb {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.Room_otherBtn__h3s73{
  margin:20px 20px 0 20px;
}
